.text-primary {
  color: $color-primary;
}

.text-light-grey-1 {
  color: $light-grey-1;
}

.text-light-purple-1 {
  color: $light-purple-1;
}

.text-dark-grey-1 {
  color: $dark-grey-1;
}

.text-light-blue-1 {
  color: $light-blue-1;
}