
// grey
$light-grey-1: #EBEBEB;
$light-grey-2: #D8D8D8;
$dark-grey-1: rgba(40, 44, 64, 0.6);
$dark-grey-2: rgba(130, 134, 154, 0.5);
$dark-grey-3: rgba(130, 134, 154, 0.6);
$dark-grey-4: rgba(196, 196, 196, 0.5);

// white
$primary-white: #FFFFFF;

//  purple
$color-primary: #272262;
$light-purple-1: #82869A;
$dark-purple-1: #373C56;

// blue
$light-blue-1: #3DB0FF;

// heading
$heading-font-size-bg: 3.6rem;
$heading-font-size-md: 2.6rem;

// font weight
$fw-light: 300;

// label 
$label-font-size: 2rem;
